body {
    color:#FFFFFF;
    background-color:#000000;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;

}

nav {
    margin-bottom:10px;
    text-align:center;
}

h1.inventory {
	font-size:18px !important;
	
}

header.index {
    background-color:#c3a35e;
    font-size:18px;
    padding:3px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}

select {
    float:left;
    font-size:18px;
    width:270px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ul {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    width:auto;
    list-style-type:none;
    margin:0px;
    padding:2px;
    
}

ul.errors {
    color:red;
    font-weight:bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

li {
    margin:5px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    
}

img.splash {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

p.title {
    text-align:center;
    color:#FFFFFF;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin:0px;
}

div.family {
    background-color:transparent;
    border:none !important;
}

img.mini {
    margin-left:auto !important;
    margin-right:auto !important;
    display:block !important;
}

p.hint {
    font-size:12px !important;
    padding:3px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
}

label.error {
    display:block;
    margin: 10px 0;
    color: #CC0000;
}

#errorlink {
    display:none;
}

.ui-page {



}

div.nav {
    float:right !important;
    margin-right:10px !important;
}

div.splash {
    width:100%;
    margin:0px !important;
    padding:0px !important;
}

div.navlist {
    padding:0px !important;
    margin:0px !important;
}

img.banner {
    width:100% !important;
    padding:0px !important;
    margin:0px !important;
}

p.xmlTitle {
    color:FF00FF !important;
}
