body {
    color:#FFFFFF;
    background-color:#000000;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;

}

img.mini {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

img.icon {
    height:75px !important;
    width:75px !important;
    margin-left:auto !important;
    margin-right:auto !important;
    display:block;
}